backports.weakref==1.0rc1
bleach==1.5.0
curses==2.2
cycler==0.10.0
h5py==2.7.0
html5lib==0.9999999
Markdown==2.6.8
matplotlib==2.0.2
mss==3.0.1
numpy==1.13.1
olefile==0.44
opencv==1.0.1
opencv-python==3.2.0.8
pandas==0.20.3
Pillow==4.2.1
protobuf==3.3.0
pyparsing==2.2.0
pypiwin32==219
python-dateutil==2.6.1
pytz==2017.2
scipy==0.19.1
six==1.10.0
tensorflow==1.2.1
tflearn==0.3.2
tqdm==4.15.0
Werkzeug==0.12.2
win32core==221.28
win32gui==221.5
